@font-face {
  font-family: Geometria;
  src: local("Geometria-Bold"), url("./fonts/Geometria-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Geometria;
  src: local("Geometria-ExtraBold"), url("./fonts/Geometria-ExtraBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Geometria;
  src: local("Geometria-Medium"), url("./fonts/Geometria-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Geometria;
  src: local("Geometria-Regular"), url("./fonts/Geometria-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Geometria;
  src: local("Geometria-Light"), url("./fonts/Geometria-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}





html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Geometria", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 15px;
  margin: 0;
  padding: 0;
  color: #000;
}

p {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}


audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-weight: 500;
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input::placeholder {
  user-select: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html,
body {
  height: 100%;
}

li {
  list-style: none;
}


.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  min-height: 100%;
  width: 100%;
}
.container {
  max-width: 100%;
  padding: 0 16px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 1620px) {
  .container {
    max-width: 1650px;
    padding: 0 16px;
    width: 100%;
    margin: 0 auto;
  }
}


picture, img {
  max-width: 100%;
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


section {
  margin-bottom: 40px;
}

.main-title {
  font-family: 'Geometria';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 50px;

  @media (max-width: 768px) {
    font-size: 25px;
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  @media (max-width: 425px) {
    font-size: 15px;
    line-height: 19px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  width: 328px;
  height: 65px;
  background: #FFFFFF;
  border: 1px solid #000000;
  transform: skewX(-30deg);

  @media (max-width: 1540px) {
    width: 270px;
    height: 65px;
  }
  @media (max-width: 1366px) {
    width: 210px;
    height: 40px;
    font-size: 16px;
  }
  @media (max-width: 580px) {
    font-size: 12px;
    line-height: 15px;
  }

  span {
    color: #000;
    display: block;
    transform: skewX(30deg);
  }

  &--black {
    background-color: #000;
    color: #fff;

    &:hover{
      background-color: #fff;
      color: #000;
    }

    span {
      color: inherit;
    }
  }
  &--white{
    background-color: #fff;
    color: #000;
    &:hover{
      background-color: #000;
      color: #fff;
    }
    span {
      color: inherit;
    }
  }
}

/*========= HEADER ==================*/
.header {
  color: #fff;
  background-color: #000;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;

  &__right {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

  }

  &__logo {
    svg {
      width: 190px;
      height: 74px;
    }
  }


  a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
  }

  &__inner {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__phone {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-size: 300px;
  }

  &__phone-link {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.5;
    font-family: 'Geometria', sans-serif;
  }
}

.nav__inner {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  font-size: 18.72px;
  display: block;
  padding: 0.5rem 1rem;
  font-weight: 400;
  line-height: 1.5;

  &:not(last-child) {
    margin-right: 30px;
  }
}


/*========= FOOTER ==================*/

.footer {
  background-color: #000;
  padding-top: 64px;
  padding-bottom: 100px;
  color: #fff;

  a {
    color: #fff;
  }

  &__logo {
    margin-bottom: 14px;

    svg {
      width: 190px;
      height: 74px;
    }
  }

  &__center {
    display: flex;
    flex-direction: row;
  }

  &__column {
    display: flex;
    flex-direction: column;

    &:not(last-child) {
      margin-right: 30px;
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  &__link {
    display: flex;
    margin-bottom: 30px;
    font-size: 16px;
  }

  &__text {
    color: #fff;
    margin-left: 7px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }


}

.icon-metro {
  width: 32px;
  height: 24px;
}

.copyright {
  color: #6c757d;
  display: block;
  font-weight: 400;
  font-size: 12.8px;
}

//Сообщение оь ошибке

#calculator-form{
  position: relative;
}
.error-message{
  color: red;
  text-align: center;
  margin-top: 15px;
  display: none;
  position: absolute;
  width: 100%;

  @media(max-width: 768px) {
    margin-top: 5px;
    font-size: 12px;
  }
}